    <!-- 底部文件 -->
    <footer>
    <hr class="divider">
        <div class="container">
            <div class="pull-left">
                <a href="/feed.xml" target="_blank" class="text-danger">RSS</a>
                <span class="text-muted"> | </span>
                <a href="/links/" target="_blank" class="text-success">LINKS</a>
                <div style="display: none;">
                    <!-- 百度统计 -->
                    <!-- 
                    <script type="text/javascript">
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F{{ site.baidutongji }}' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                    --> 
                </div>
            </div>
            <div class="pull-right">
                <p class="text-muted">&copy; 2015 XATUSEC.</p>
            </div>
        </div>
    </footer>
</body>
</html>