<!DOCTYPE HTML>
<html>
<!--
__  __    _  _____ _   _ ____  _____ ____ 
\ \/ /   / \|_   _| | | / ___|| ____/ ___|
 \  /   / _ \ | | | | | \___ \|  _|| |    
 /  \  / ___ \| | | |_| |___) | |__| |___ 
/_/\_\/_/   \_\_|  \___/|____/|_____\____|
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimun-scale=1.0, maximun-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}{% if page.title %}{{ ' - ' | append: page.title }}{% else %}{{ ' - ' | append: site.description }}{% endif %}</title>
    <meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ',' }}{% else %} XATUSEC, XATUSEC官方网站, 西安工业大学绿色兵团, XATUSEC网络攻防大赛{% endif %}">
    <link rel="shortcut icon" href="/static/logo/icon.png" />
    <link rel="stylesheet" type="text/css" href="/static/SyntaxHighlighter/shCoreDefault.css">
    <link rel="stylesheet" type="text/css" href="{% if site.bootstrapCdnUrl %}{{ site.bootstrapCdnUrl }}{% else %}{{ '/static/bootstrap' }}{% endif %}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    {% if site.navbarFixedTop %}<style type="text/css">body{margin-top:65px;}</style>{% endif %}
    <script src="{% if site.jqueryCdnUrl %}{{ site.jqueryCdnUrl }}{% else %}{{ '/static/js/jquery.min.js' }}{% endif %}"></script>
    <script src="{% if site.bootstrapCdnUrl %}{{ site.bootstrapCdnUrl}}{% else %}{{ '/static/bootstrap' }}{% endif %}/js/bootstrap.min.js"></script>
    <script src="/static/SyntaxHighlighter/shCore.js"></script>
    <script src="/static/js/custom.js"></script>
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default {% if site.navbarFixedTop %}{{ 'navbar-fixed-top' }}{% endif %}" role="navigation">
        <div class="container">
            <!-- 切换导航 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hotes-navbar-collapse">
                    <span class="sr-only">Switch navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 站点名称 -->
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" style="font-weight:bold;">  {{ site.title }}</span></a>
                <!-- 站点描述 -->
                <p class="navbar-text hidden-xs">{{ site.description }}</p>
            </div>
            <div class="collapse navbar-collapse" id="hotes-navbar-collapse">
                <!-- 页面导航栏 -->
                <ul class="nav navbar-nav pull-right">
                    <!-- 分类浏览 -->
                    {% if page.url == "/post/" %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                            <span class="glyphicon glyphicon-th-list"></span>
                            tag
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:void(0);" onclick="getCategory('all');"><span class="glyphicon glyphicon-tags"></span> all <span class="pull-right badge">{{ site.posts | size }}</span></a> 
                            </li>
                            <li class="divider"></li>
                        {% for category in site.categories %}
                            <li>
                                <a href="javascript:void(0);" onclick="getCategory('{{ category[0] }}');"><span class="glyphicon glyphicon-tag"></span> {{ category[0] }}<span class="pull-right badge">{{ category[1] | size }}</span></a>
                            </li>
                        {% endfor %}
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);" onclick="getCategory('');"><span class="glyphicon glyphicon-tag"></span> default </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <!-- 加载2015到导航栏 -->
                <li>
                        <a href="/"><span class="glyphicon glyphicon-flag">2015</span></a>
                </li>
                <!-- 加载about到导航栏 -->
                <li>
                        <a href="/about/"><span class="glyphicon glyphicon-leaf">about</span></a>
                </li>
                <!-- 加载page到导航栏 -->
                {% for p in site.pages %}
                    {% if p.title %}
                    {% if p.addNavbar %}
                    {% if p.url == page.url %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ p.url }}"><span class="glyphicon glyphicon-{% if p.icon %}{{ p.icon }}{% else %}{{ 'paperclip' }}{% endif %}"></span> {% if p.navbarStress %}<font color="{{ p.navbarStress }}">{{ p.title }}</font>{% else %}{{ p.title }}{% endif %}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>