/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Sublime
 */
.mySublime {
  width: 500px;
  height: 250px;
  top: 200px;
  left: 150px;
  position: absolute;
}
 .sublime {
   position: relative;
   width: 100%;
   padding: 2%;
   list-style: none;
   border-top: 25px solid #b4b4b4;
   border-radius: 10px;
   background: #262728;
   color: #f1f1f1;
   font-family: 'Source Code Pro';
   font-weight: 200;
   font-size: 1.1em;
   /* Colors */
 }
 .sublime li {
   min-height: 25px;
   line-height: 25px;
 }
 .sublime .buttons {
   min-height: 0;
   position: absolute;
   top: -18px;
   border-radius: 100%;
   width: 13px;
   height: 13px;
   background-color: #ff5d5b;
   border: 1px solid #e64344;
 }
 .sublime .buttons:before, .sublime .buttons:after {
   position: absolute;
   content: "";
   width: 13px;
   height: 13px;
   border-radius: 100%;
   top: -1px;
 }
 .sublime .buttons:before {
   left: 20px;
   border: 1px solid #e3a041;
   background-color: #ffbc4c;
 }
 .sublime .buttons:after {
   left: 40px;
   border: 1px solid #13ad46;
   background-color: #00c956;
 }
 .sublime .tab {
   margin-left: 2%;
   list-style: none;
 }
 .sublime .blue {
   color: #66d9ef;
 }
 .sublime .purple {
   color: #8a7bff;
 }
 .sublime .red {
   color: #e92772;
 }
 .sublime .green {
   color: #a6e22d;
 }
 .sublime .orange {
   color: #fd9720;
 }
 .sublime .yellow {
   color: #e6db74;
 }
 .sublime .gray {
   color: #8f908a;
 }
 .sublime .cursor:before {
   opacity: 0;
   content: "|";
   color: #f1f1f1;
   -webkit-animation: blink 0.8s infinite;
           animation: blink 0.8s infinite;
 }
 @-webkit-keyframes blink {
   0% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }
 @keyframes blink {
   0% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: #e33;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;

    &:hover {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-top: 1px solid;
        }
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


pre {
    font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    display: block;
    font-size: 0.875em;
    font-family: Consolas;
    color: #333;
    line-height: 1.3em;
    margin: 0px auto;
    padding: 0 10px;
}

code {
    background: #fafafd;
    padding: 0.063em;
    border: 0.063em solid #dedede;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
